body {
  background: url("background.png") no-repeat center center fixed;
  background-size: cover;
}

.navText {
  font-weight: 500;
  font-size: 20px;
  color: white;
  text-shadow: 2px 2px 4px grey;
  padding-left: 10px;
  padding-right: 10px;
}

*, :after, :before {

  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: #3b82f680;
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;

}

*, :after, :before {
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
}

.dottedBorder {

  border-style: dotted;
  border-left-width: 1px;
  border-color: rgb(156 163 175/var(--tw-border-opacity));
  --tw-border-opacity: 0.4;

}

.bottomMenu {
  background-color: black;
  color: lightsteelblue;
  height: 200px;
  padding: 40px 10px 10px 10px;
}

@font-face {
  font-family: "Domine";
  font-weight: normal;
  src: url("https://fonts.googleapis.com/css?family=Domine") format("truetype");
}

@font-face {
  font-family: "BreeSerif";
  font-weight: normal;
  src: url("https://fonts.googleapis.com/css?family=Bree+Serif") format("truetype");
}

@font-face {
  font-family: "AverageSans";
  font-weight: normal;
  src: url("https://fonts.googleapis.com/css?family=Average+Sans") format("truetype");
}